<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>e-Journal | 403</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <link rel="stylesheet" href="../css/cl_style.css" th:href="@{/css/cl_style.css}">
</head>

<body>

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! Page is forbidden</h3>
            <h1><span>4</span><span>0</span><span>3</span></h1>
        </div>
        <h2>we are sorry, but access to this resource is denied for you</h2>
        <input type="button" class="btn btn-outline-dark btn-lg" onclick="history.back();" value="Back"/>
    </div>
</div>
</body>

<footer th:insert="fragment.html :: footer"></footer>

</html>
