<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Authentication</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
    <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<header th:insert="fragment.html :: header"></header>

<main class="container-fluid">
    <div class="login-block container-fluid">
        <img class="form_icon" src="../img/form_icon.png" th:src="@{img/form_icon.png}" alt="form_icon">
        <h1>Authentication</h1>
        <form th:action="@{/authenticate}" method="post">
            <div class="form-group">
                <label for="inputLogin">Login</label>
                <input type="text" name="username" class="form-control" id="inputLogin" placeholder="Your login"
                       required>
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword"
                       placeholder="Your password" maxlength="10" required>
<!--                <span th:if="${errorText != null}" th:text="${errorText}" style="color: red"></span>-->
            </div>
            <input class="submit-btn btn btn-primary btn-block" type="submit" value="Sign In">
        </form>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>