<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Authentication</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
    <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}">

</head>
<body>

<header th:insert="fragment.html :: header"></header>

<main>
    <div class="login-block container-fluid">
        <img class="form_icon" src="../img/form_icon.png" th:src="@{img/form_icon.png}" alt="form_icon">
        <h1>Authentication</h1>
        <!-- /login?error=true -->
        <div th:if="${#request.getParameter('error') == 'true'}"
             style="color:red;margin:10px 0px;">
            Login Failed!!!<br/>
            Reason :
            <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
                  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
         </span>

        </div>
        <form th:action="@{/j_spring_security_check}" method="post">
            <div class="form-group">
                <label for="inputLogin">Login</label>
                <input type="text" name="auth_login" class="form-control" id="inputLogin" placeholder="Your login">
            </div>
            <div class="form-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="auth_password" class="form-control" id="inputPassword"
                       placeholder="Your password">
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be no more than 10 symbols
                </small>
            </div>
            <input class="submit-btn btn btn-primary btn-block" type="submit" value="Sign In">
        </form>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>