<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal</title>
    <th:block th:include="fragment.html :: headerfiles"> </th:block>
    <link rel="stylesheet" href="../css/main.css" th:href="@{/css/main.css}">

</head>
<body>

<header th:insert="fragment.html :: header"></header>

<main>
    <div style="text-align: center" class="login-block container-fluid">
        <h1>eJournal</h1>
        <a class="btn btn-primary" th:href="@{/userPage}">Push It</a>
    </div>
</main>

<footer th:insert="fragment.html :: footer"> </footer>

</body>
</html>