<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Lesson</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>

</head>
<body>

<main class="container-fluid my-3">
    <div class="btn-group-lg text-center" role="group" aria-label="Basic example">
        <a class="btn btn-success" th:href="@{/index}">Main</a>
        <a class="btn btn-primary" th:href="@{/teachers}">Menu</a>
        <a class="btn btn-outline-secondary" th:href="@{/logout}">Logout</a>
        <h2 class="my-5" th:text="${lessonMsg}"></h2>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-10">
                <div th:each="pupil : ${pupils}">
                    <form action="#" th:action="@{/grades/edit}" method="post">
                        <div class="row">
                            <div class="col"></div>
                            <div class="form-group col-md-3">
                                <input type="text" th:placeholder="${pupil.surname}" class="form-control" readonly>
                            </div>
                            <div class="form-group col-md-3">
                                <input type="text" th:placeholder="${pupil.firstName}" class="form-control"
                                       readonly>
                            </div>
                            <div class="form-group col-md-1">
                                <input type="text" th:placeholder="${grades.get(pupil.id)}" class="form-control"
                                       readonly>
                            </div>

                            <div class="form-group col-md-2">
                                <input type="number" name="newGrade" min="1" max="10" class="form-control">
                            </div>
                            <input type="hidden" name="pupilId" th:value="${pupil.id}">
                            <input type="hidden" name="disciplineId" th:value="${discipline.id}">
                            <input type="hidden" name="date" th:value="${date}">
                            <div class="form-group col-md-2">
                                <button type="submit" name="action" value="update" class="btn btn-success"><i
                                        class="far fa-edit"></i></button>
                                <button type="submit" name="action" value="delete" class="btn btn-secondary"><i
                                        class="far fa-trash-alt"></i></button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>