<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Grades</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>

</head>
<body>

<main class="container-fluid my-3">
    <div class="btn-group-lg text-center" role="group" aria-label="Basic example">
        <a class="btn btn-success" th:href="@{/index}">Main</a>
        <a class="btn btn-outline-secondary" th:href="@{/logout}">Logout</a>
        <h2 class="mb-5 mt-3" th:text="${pageText}"></h2>
    </div>
    <div class="container my-5 ">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <div class="text-center">
                    <a class="btn btn-primary" th:href="@{/pupils/gradesForToday}">Today</a>
                    <a class="btn btn-primary" th:href="@{/pupils/gradesForYesterday}">Yesterday</a>
                    <a class="btn btn-primary" th:href="@{/pupils/gradesForWeek}">Week</a>
                    <a class="btn btn-primary" th:href="@{/pupils/gradesForMonth}">Month</a>
                    <a class="btn btn-primary" th:href="@{/pupils/gradesAll}">All</a>
                </div>
                <form action="#" th:action="@{/pupils/gradesForDay}" method="post">
                    <div class="row my-3">
                        <div class="col"></div>
                        <div class="form-group col-md-4 align-self-center">
                            <label for="dob" class="col-form-label">Choose day</label>
                            <input type="date" name="day" class="form-control" id="dob" required>
                        </div>
                        <div class="col-md-4 text-right align-self-center">
                            <input type="submit" class="btn btn-primary" value="By day">
                        </div>
                        <div class="col"></div>
                    </div>
                </form>

                <form action="#" th:action="@{/pupils/gradesForPeriod}" method="post">
                    <div class="row my-3">
                        <div class="form-group col-md-4 align-self-center">
                            <label for="date1" class="col-form-label">Choose first day</label>
                            <input type="date" name="firstDay" class="form-control" id="date1" required>
                        </div>
                        <div class="form-group col-md-4 align-self-center">
                            <label for="date2" class="col-form-label">Choose last day</label>
                            <input type="date" name="lastDay" class="form-control" id="date2" required>
                        </div>
                        <div class="col-md-4 align-self-center">
                            <input type="submit" class="btn btn-primary" value="By period">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>