<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Sign Up parent</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
</head>
<body>

<main class="container-fluid ">
    <div class="container my-5 ">
        <h2 class="mb-5 text-center">New Parent</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <form action="#" th:action="@{/parents/signUpParent}" th:object="${parent}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="login" class="col-form-label">Login</label>
                            <input type="text" th:field="*{login}" class="form-control" id="login"
                                   placeholder="Login" required>
                            <input type="hidden" name="pupil" th:value="${pupilId}">
                            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red"></span>
                            <span th:if="${exceptMsg != null}" th:text="${exceptMsg}" style="color: red"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password"
                                   placeholder="Password" maxlength="10" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-6 mt-5 text-right">
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                            <a class="btn btn-secondary" th:href="@{/pupils/showUpdate/{id}(id=${pupilId})}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>