<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Sign Up Pupil</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
</head>
<body>

<main class="container-fluid ">
    <div class="container my-5 ">
        <h2 class="mb-5 text-center">New Pupil</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <form action="#" th:action="@{/pupils/signUpPupil}" th:object="${pupil}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="login" class="col-form-label">Login</label>
                            <input type="text" th:field="*{login}" class="form-control" id="login" placeholder="Login"
                                   required>
                            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password"
                                   placeholder="Password" maxlength="10" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname" class="col-form-label">Surname</label>
                            <input type="text" th:field="*{surname}" class="form-control" id="surname"
                                   placeholder="Surname" required>
                            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                                   placeholder="First Name" required>
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dob" class="col-form-label">Date of birth</label>
                            <input type="date" th:field="*{dob}" class="form-control" id="dob"
                                   placeholder="Date of Birth" required>
                            <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="classes" class="col-form-label">Class</label>
                            <select class="form-control" id="classes" th:field="*{aClass}" required>
                                <option disabled selected value> --</option>
                                <option th:each="aClass : ${classes}"
                                        th:value="${aClass.id}"
                                        th:text="${aClass.name}">
                                </option>
                            </select>
                            <span th:if="${#fields.hasErrors('aClass')}" th:errors="*{aClass}"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-6 mt-5 text-right">
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                            <a class="btn btn-secondary" th:href="@{/pupils/choosePupilsClass}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>