<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Sign Up Teacher</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
    <style>
        li {
            list-style-type: none;
        }

        ul {
            margin-left: 0;
            padding-left: 0;
        }
    </style>
</head>
<body>

<main class="container-fluid ">
    <div class="container my-5 ">
        <h2 class="mb-5 text-center">New Teacher</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <form action="#" th:action="@{/teachers/signUpTeacher}" th:object="${teacher}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="login" class="col-form-label">Login</label>
                            <input type="text" th:field="*{login}" class="form-control" id="login" placeholder="Login"
                                   required>
                            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password"
                                   placeholder="Password" maxlength="10" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname" class="col-form-label">Surname</label>
                            <input type="text" th:field="*{surname}" class="form-control" id="surname"
                                   placeholder="Surname" required>
                            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                                   placeholder="First Name" required>
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                  class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName" class="col-form-label">Disciplines</label>
                            <ul>
                                <li th:each="discipline : ${allDisciplines}">
                                    <input type="checkbox"
                                           th:field="*{disciplines}"
                                           th:value="${discipline.id}"/>
                                    <label th:text="${discipline.name}"></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-6 mt-1 text-right">
                            <input type="submit" class="btn btn-primary" value="Sign Up">
                            <a class="btn btn-secondary" th:href="@{/teachers/teachersList}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>