<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Teacher</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
</head>
<body>

<main class="container-fluid my-3">
    <div class="btn-group-lg text-center " role="group" aria-label="Basic example">
        <a class="btn btn-success" th:href="@{/index}">Main</a>
        <a class="btn btn-primary" th:href="@{/teachers/lesson}">Lesson</a>
        <a class="btn btn-primary" th:href="@{/teachers/changeGrades}">Journal</a>
        <a class="btn btn-outline-secondary" th:href="@{/logout}">Logout</a>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>