<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>e-Journal | Update pupil</title>
    <th:block th:include="fragment.html :: headerfiles"></th:block>
</head>
<body>

<main class="container-fluid">
    <div class="container my-5">
        <h2 class="mb-5 text-center">Update Pupil</h2>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-6">
                <form action="#" th:action="@{/pupils/updatePupil}" th:object="${pupil}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="login" class="col-form-label">Login</label>
                            <input type="text" th:field="*{login}" class="form-control" id="login" placeholder="Login"
                                   required>
                            <input type="hidden" th:field="*{id}" th:value="${pupil.id}">
                            <span th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password"
                                   placeholder="Enter a new password" maxlength="10" required>
                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="surname" class="col-form-label">Surname</label>
                            <input type="text" th:field="*{surname}" class="form-control" id="surname"
                                   placeholder="Surname" required>
                            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" style="color: red"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control" id="firstName"
                                   placeholder="First Name" required>
                            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: red"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="dob" class="col-form-label">Date of birth</label>
                            <input type="date" th:field="*{dob}" class="form-control" id="dob"
                                   placeholder="Date of Birth" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="classes" class="col-form-label">Class</label>
                            <select class="form-control" id="classes" th:field="*{aClass}" required>
                                <option disabled selected value> --</option>
                                <option th:each="aClass : ${classes}"
                                        th:value="${aClass.id}"
                                        th:text="${aClass.name}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mt-5 text-left">
                            <p th:if="${parent == null}" class="my-1"><a
                                    th:href="@{/parents/showSignUp/{id}(id=${pupil.id})}" class="btn btn-success"><i
                                    class="fas fa-user-plus ml-2"></i> Create Parent</a></p>
                        </div>
                        <div class="col-md-6 mt-5 text-right">
                            <input type="submit" class="btn btn-primary" value="Update">
                            <a class="btn btn-secondary" th:href="@{/pupils/choosePupilsClass}">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div th:switch="${parent}" class="container my-3">
        <div class="row">
            <div class="col"></div>
            <div class="col-3">
                <div th:case="null">

                </div>
                <div th:case="*">
                    <h2 class="my-3 text-center">Parent</h2>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                        <tr>
                            <th>Login</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${parent.login}"></td>
                            <td><a th:href="@{/parents/deleteParent/{id}(id=${parent.id})}" class="btn btn-secondary"><i
                                    class="far fa-trash-alt"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>

<footer th:insert="fragment.html :: footer"></footer>

</body>
</html>